.react-app-code {
    background-color: #282c34;
    height: 500px;
    display: flex;
    flex-direction: column;
    /*align-items: center;
    justify-content: center;*/
    font-size: .9em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 5%;

}

.react-app-code b{
    color: tomato;
    font-style: italic;
}